@import url(reset.css);

body {
    background: #000;
    height: 100vh;
}

.banner-content {
    background-image: url(images/woman-code.png), linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.2), rgba(0, 0, 0, 0.6));
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 605px;
}

.logo {
    width: 268px;
    height: 268px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.20);
    margin: 0 auto;
}

.logo img {
    width: 248px;
    height: 214px;
    margin: 27px 10px;
}

.banner h1 {
    margin: 16px 0 16px 0;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
}

.banner p {
    margin-bottom: 24px;
    width: 510px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 100;
}

.banner-content button {
    display: flex;
    width: 326px;
    padding: 19px 91px;
    justify-content: center;
    align-items: center;

    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 3.36px;
    color: #31A8DD;

    background: none;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #33A8DB 50%, #1572B7 100%);
    border-image-slice: 1;
}

#course-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 533px;
}

#course-content h2 {
    color: #31A8DD;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6.08px;
}

#course-content p {
    width: 792px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.modules-list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.module {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: #252525;
    width: 535px;
    padding: 16px 127px;
    color: #fff;
    border-radius: 57px;
    white-space: nowrap;
    border: 1px #33A8DB solid;
    box-shadow: inset -2px 6px 4px 0px rgba(0, 0, 0, 0.40);
}

.module span {
    color: #31A8DD;
}

#transform-world {
    background-image: url(/trilha-css-desafio-01-main/assets/images/woman-code.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 620px;
    display: flex;
    align-items: center;
}

#transform-world p {
    text-transform: lowercase;
    margin-left: 198px;
    width: 244px;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    text-shadow: 3px 2px 0px #33A8DB;
}

#professional-challenges {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 850px;
}


#professional-challenges h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 5px;
    width: 746px;
    color: #31A8DD;
    margin-bottom: 32px;
}


#professional-challenges p {
    color: #fff;
    text-align: center;
    width: 792px;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(180deg, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(51, 168, 219, 0.20) 100%);
    height: 170px;
}

footer p {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

footer a {
    color: #31A8DD;
    font-weight: 700;
    font-size: 16px;
}

.banner-content, 
#course-content,
#transform-world,
#professional-challenges {
    border-bottom: 1px solid #31A8DD;
}
